@page
@model Pages_Features
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Features";
}
<h1>@ViewData["Title"]</h1>

<p>(Wordings c/o Austin).</p>

<div>


</div>