@page
@model IndexModel
@{
    ViewData["ResolvedX"] = "Home page";
}

<div class="text-center">

<img src="~/lib/Landing Page_0.jpg"/>
    
</div>



<div class="text-center">
    <h1>About Us!</h1>
    <p>The Time Is Now!!! </p>

    <div class="container">
        <a class="nav-item"><img src="~/lib/Capturetttttt.jpg"/></a>
        <div class="nav-item-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-item text-black align-content-xl-stretch"><h1>Our Vision:</h1>Our visionokhjhhh uhukghukghu uhiuhgkjh kjghj jhg jjhygj hhvj hj jhv jhvjh jh jiopuytadfasd</a>                    
                </li>
                <li class="nav-item">
                    <a class="nav-item text-black align-content-xl-stretch">Our visionokhjhhh uhukghukghu uhiuhgkjh kjghj jhg jjhygj hhvj hj jhv jhvjh jh jiopuytadfasd</a>                    
                </li>
            </ul>
            
        </div>
    </div>
    <div class="text-center">
        <h1></h1>
        <p></p>
    </div>


    <div class="container">
        <a class="nav-item h1 text-black align-content-lg-center">Our Approach:</a>
        <div class="nav-item-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="nav-item-collapse collapse d-sm-inline-flex justify-content-between">
               <li class="nav-item">
                   <a class="nav-item text-black align-content-xl-stretch">jgljdlfjgldkfjgkjdfgdlkfjglkdjfgjldgld njshdjkhsf njhsd</a>
               </li>
            </ul>
        </div >
        <div class="nav-item-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-item"><img src="~/lib/vvvvvvvv.jpg"/></a>
                </li>
            </ul>
            
        </div>
    </div>
    <div class="text-center">
        <hi></hi>
        <p></p>        
    </div>
    <div class="container">
        <a class="nav-item"><img src="~/lib/Captureggggggg.jpg"/></a>
        <div class="nav-item-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-item text-black align-content-xl-stretch"><h1>Our Process:</h1>Our Process</a>                    
                </li>
                
            </ul>
            
        </div>
    </div>
    <div class="text-center">
        <hi></hi>
        <p></p>        
    </div>
    <div class="text-center">
        <hi></hi>
        <p></p>        
    </div>

    <div class="text-center">
        <hi></hi>
        <p></p>        
    </div>
    <div class="container">
        <a class="nav-item h1 text-black align-content-lg-center"></a>
        <div class="nav-item-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a backgroud="nav"><img src="~/lib/bg4.jpg"/></a>
                </li>
            </ul>
            
        </div>
    </div>
</div>