@page
@model Pages_Industry
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Industry";
}
<h1>@ViewData["Title"]</h1>

<p>(Wordings c/o Austin).</p>

<div>


</div>