@page
@model Pages_Schedule_a_call
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Schedule a call";
}
<h1>@ViewData["Title"]</h1>

<p>(Wordings c/o Austin).</p>

<div>


</div>